* {
  padding: 0;
  margin: 0;
  font-family: TTLakes, serif;
}
body {
  width: 100%;
}

.header_bar {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  margin-left: -10px;
}
.main-info__readmore {
  margin-top: 24px;
}
.header_search {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.main-info__readmore {
  display: flex;
}

@font-face {
  font-family: TTLakes;
  src: url("./fonts/TTLakesCompressed-Bold.ttf");
}

.header-menu {
  width: 40px;
  height: 40px;
}

.header-logo {
  width: 98px;
  height: 52px;
}

.header-settings {
  height: 40px;
  width: 40px;
}

.header-search {
  height: 40px;
  width: 40px;
}

main {
  margin-top: 24px;
}

.main-rules__text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
}

.main-rules {
  display: flex;
}
.header {
  height: 88px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 320px) {
  .main-rules {
    display: flex;
  }

  .main-info__text {
    font-size: 14px;
    width: 245px;
    height: 90px;
  }

  .main-info__readmore {
    display: flex;
    width: 131px;
    height: 24px;
    align-items: baseline;
  }

  .main-info__readmore-text {
    font-size: 16px;
  }

  .main-info__img {
    height: 176px;
    margin-top: 16px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .main-info__img::-webkit-scrollbar {
    width: 0;
  }

  .main-info__img-info {
    width: 320px;
    height: 230px;
  }
}
.main__menu--slider {
  padding: 0 16px;
  margin-top: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
}

.main__menu--slider::-webkit-scrollbar {
  width: 0;
}

.main__menu--slider--item {
  padding: 0px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}

.main__menu--slider--item-label {
  padding: 8px 16px;
  border: 3px solid transparent;
  font-size: 16px;
}

.main__menu--slider--item-label:hover {
  border-radius: 6px;
  background-color: #ffffff;
  transition: background-color 1s, border 1s;
}

.main__menu--slider-radio-button {
  appearance: none;
  display: none;
}

.main__menu--slider-radio-button:checked + .main__menu--slider--item-label {
  background: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  border: 3px solid #d9fff5;
}

.main__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main__info--slider-item {
  font-size: 2px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-info__riles {
  margin: 24px;
}

.header_bar {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-info {
    display: flex;
    justify-content: space-between;
  }

  .main-info__img-info {
    height: 260px;
  }

  .header_bar {
    margin-left: 30px;
  }

  .header_search {
    margin: 30px;
  }

  .main-info__readmore {
    margin-top: 24px;
  }
}
