* {
  padding: 0;
  margin: 0;
  font-family: TTLakes, serif;
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
}
h3 {
  display: none;
}

.inform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_bar {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  margin-left: -10px;
}
.main-info__readmore {
  margin-top: 24px;
}
.header_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-info__readmore {
  display: flex;
}

@font-face {
  font-family: TTLakes;
  src: url("./fonts/TTLakesCompressed-Bold.ttf");
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.header-menu {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.header-logo {
  width: 98px;
  height: 52px;
}

.header-settings {
  height: 40px;
  width: 40px;
}

.header-search {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

main {
  margin-top: 60px;
}

.main-rules__text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
}

.main-rules {
  display: flex;
}
.header {
  height: 88px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 8;
  background-color: #fff;
}

.main-info__img-info {
  width: 375px;
}

@media (max-width: 320px) {
  .main-rules {
    display: flex;
  }

  .repare-test {
    display: none;
  }

  .main-info__text {
    font-size: 14px;
    width: 245px;
    height: 90px;
  }

  .main-info__img-info {
    width: 375px;
  }
  .main-info__readmore {
    display: flex;
    width: 131px;
    height: 24px;
    align-items: baseline;
  }

  .main-info__readmore-text {
    font-size: 16px;
  }

  .main-info__img {
    height: 176px;
    margin-top: 16px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .main-info__img::-webkit-scrollbar {
    width: 0;
  }

  .main-burger {
    padding: 10px;
  }

  .main-search {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: -5px;
    margin-right: 150px;
    position: absolute;
  }

  .slidbar-main__group {
    float: right;
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: -30px;
    align-items: center;
  }

  .main-cps {
    margin-right: 10px;
    position: absolute;
  }
  .main-cps img:hover {
    width: 50px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 5px 20px 0px rgba(14, 24, 80, 0.4);
    overflow: hidden;
  }

  .main-search:hover img {
    cursor: pointer;
  }

  .slidebar-main__over {
    margin-top: 50px;
  }

  #slidebar1 {
    position: fixed;
    top: 0;
    left: -400px;
    width: 320px;
    height: 890px;
    z-index: 99;
    background: #fff;
    transition: left 0.3s;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }

  #slidebar1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #slidebar1 ul li {
    padding: 10px;
  }

  #slidebar1 ul li a {
    color: #000000;
    text-decoration: none;
  }

  .menu-button {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    left: 20px;
    z-index: 999;
    cursor: pointer;
  }

  .menu-button span {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 4px;
  }

  #menu-toggle1:checked ~ #slidebar1 {
    left: 0;
  }

  .main__menu--slider1 {
    padding: 0 16px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
    overflow: auto;
  }

  .main_menu--slider--item1 {
    padding: 0px;
    display: flex;
    white-space: nowrap;
    color: #7e7e82;
    height: 40px;
  }

  .main_menu--slider--item-label1 {
    border: 3px solid transparent;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    padding-left: 20px;
  }

  .main__menu--slider-radio-button1 {
    appearance: none;
    display: none;
    padding-left: 20px;
  }

  .main__menu--slider-radio-button1:checked + .main_menu--slider--item-label1 {
    background: #ffffff;
    border-radius: -6px;
    box-sizing: border-box;
    border-left: 4px solid #41f6d7;
    height: 26px;
    display: flex;
    align-items: center;
  }

  .main__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .main {
    z-index: inherit;
  }

  .main__info--slider-item1 {
    font-size: 0.7rem;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    padding: 0 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .slidbar-actions {
    width: 320px;
    height: 890px;
  }

  .slidbar-actions__menu {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-act {
    display: flex;
    width: 200px;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
  }

  .slidbar-email {
    margin-left: 24px;
  }

  .slidbar-number {
    margin-left: 24px;
    margin-top: 10px;
  }

  .slidbar-lang {
    margin-top: 30px;
    margin-left: 10px;
    height: 70px;
    width: 120px;
    display: flex;
    justify-content: space-evenly;
  }

  .slidbar-actions__menu--message {
    margin-top: 5px;
  }

  .header {
    margin-left: -10px;
  }

  .slidbar-main1 {
    z-index: 999;
  }
}
* {
  margin: 0;
  padding: 0;
}
.swiper {
  width: 290px;
  height: 100px;
}
.swiper-slide {
  width: 320px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.links-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 72px;
  width: 200px;
  cursor: pointer;
}
.remote {
  margin-left: 30px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.remote h1 {
  font-size: 16px;
}

.repare-none__info {
  display: flex;
  width: 1120px;
  height: 140px;
  background-color: #f8f8f8;
  flex-wrap: wrap;
  align-content: center;
  gap: 32px;
  margin-top: -32px;
}

.repare-visible {
  display: flex;
  width: 1120px;
  height: 240px;
  background-color: #f8f8f8;
  flex-wrap: wrap;
  align-content: center;
  gap: 32px;
  margin-left: 30px;
}

.repare-none {
  width: 1120px;
  height: 140px;
  margin-left: 30px;
}

.links {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}
.link {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}
.links-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 72px;
  cursor: pointer;
}

.btn {
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: #f8f8f8;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.btn1 {
  transform: rotate(0);
  transition: transform 0.3s ease-in;
  margin: 5px;
}
.main-info__readmore-icon {
  transform: rotate(0);
  transition: transform 0.3s ease-in;
  margin: 5px;
}

.active {
  transform: rotate(180deg);
}

.links-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 72px;
  cursor: pointer;
}

.main-burger {
  padding: 10px;
}

.main-search {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -5px;
  margin-right: 150px;
  position: absolute;
}

.slidbar-main__group {
  float: right;
  width: 240px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: -30px;
  align-items: center;
}

.main-cps {
  margin-right: 10px;
  position: absolute;
}
.main-cps img:hover {
  width: 50px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0px 5px 20px 0px rgba(14, 24, 80, 0.4);
  overflow: hidden;
}

.main-search:hover img {
  cursor: pointer;
}

.slidebar-main__over {
  margin-top: 50px;
}

#slidebar1 {
  position: fixed;
  top: 0;
  left: -400px;
  width: 320px;
  height: 100%;
  z-index: 11;
  background: #fff;
  transition: left 0.3s;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}

#slidebar1 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#slidebar1 ul li {
  padding: 10px;
}

#slidebar1 ul li a {
  color: #000000;
  text-decoration: none;
}

.menu-button {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100%;
  left: 20px;
  z-index: 999;
  cursor: pointer;
}

.menu-button span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 4px;
}

#menu-toggle1:checked ~ #slidebar1 {
  left: 0;
}

.main__menu--slider1 {
  padding: 0 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  overflow: auto;
}

.main_menu--slider--item1 {
  padding: 0px;
  display: flex;
  white-space: nowrap;
  color: #7e7e82;
  height: 40px;
}

.main_menu--slider--item-label1 {
  border: 3px solid transparent;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  padding-left: 20px;
}

.main__menu--slider-radio-button1 {
  appearance: none;
  display: none;
  padding-left: 20px;
}

.main__menu--slider-radio-button1:checked + .main_menu--slider--item-label1 {
  background: #ffffff;
  border-radius: -6px;
  box-sizing: border-box;
  border-left: 4px solid #41f6d7;
  height: 26px;
  display: flex;
  align-items: center;
}

.main__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main__info--slider-item1 {
  font-size: 0.7rem;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slidbar-actions {
  width: 320px;
  height: 890px;
  margin-top: 120px;
}

.slidbar-actions__menu {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-act {
  display: flex;
  width: 200px;
  height: 70px;
  align-items: center;
  justify-content: space-evenly;
}

.slidbar-email {
  margin-left: 24px;
}

.slidbar-number {
  margin-left: 24px;
  margin-top: 10px;
}

.slidbar-lang {
  margin-top: 30px;
  margin-left: 10px;
  height: 70px;
  width: 120px;
  display: flex;
  justify-content: space-evenly;
}

.slidbar-actions__menu--message {
  margin-top: 5px;
}

.header {
  margin-left: -10px;
  margin-top: -35px;
  height: 88px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 8;
  background-color: #fff;
}

.slidbar-main1 {
  z-index: 999;
}

.main__menu--slider2 {
  padding: 0 16px;
  margin-top: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
}

.main__menu--slider2::-webkit-scrollbar {
  width: 0;
}

.main__menu--slider--item {
  padding: 0px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}

.main__menu--slider--item-label {
  padding: 8px 16px;
  border: 3px solid transparent;
  font-size: 16px;
}

.main__menu--slider--item-label:hover {
  border-radius: 6px;
  background-color: #ffffff;
  transition: background-color 1s, border 1s;
}

.main__menu--slider-radio-button {
  appearance: none;
  display: none;
}

.main__menu--slider-radio-button:checked + .main__menu--slider--item-label {
  background: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  border: 3px solid #d9fff5;
}

.main__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main__info--slider-item {
  font-size: 2px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-info__riles {
  margin: 24px;
}

.header_bar {
  margin-left: 10px;
}
.header-call,
.header-mes,
.header-profile {
  display: none;
}
.header-settings__more {
  display: flex;
  gap: 10px;
}

.header-search__more {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .header-menu {
    margin-left: -10px;
  }

  .header-call,
  .header-mes,
  .header-profile {
    display: contents;
    margin: 40px;
  }
  .main-info {
    display: flex;
    justify-content: space-between;
  }

  .header_bar {
    margin-left: 30px;
  }

  .header_search {
    margin: 30px;
  }

  .main-info__readmore {
    margin-top: 24px;
  }

  .main-info__img-info {
    width: 420px;
  }
}

.main-info__text1 {
  display: none;
}
.header-menu11 {
  display: none;
}

.slidbar-actions__menu--phone:nth-child(1) {
  margin-top: 3px;
}

@media (min-width: 1121px) {
  * {
    font-size: 16px;
  }

  span {
    display: none;
  }

  .main-exit {
    display: none;
  }

  .suare {
    position: absolute;
  }

  .main-search {
    margin-right: 200px;
  }

  .header-menu {
    display: none;
  }

  #slidebar1 {
    z-index: 10;
    left: 0;
    padding-top: 50px;
    box-shadow: 0px 0px 0px 0px rgba(14, 24, 80, 0.2);
    transition: 0s;
    font-size: 16px;
  }

  .repare-test {
    margin-left: 340px;
  }

  .main-rules {
    margin-left: 320px;
  }

  .repare-none__test {
    margin-left: 340px;
  }

  .btn {
    margin-left: 340px;
  }

  .main-info__riles {
    margin-left: 340px;
  }

  .main__menu--slider2 {
    margin-left: 340px;
    width: 100%;
  }

  .remote {
    margin-left: 340px;
  }

  .rem1-info {
    margin-left: 340px;
  }

  .remote-container {
    margin-left: 340px;
  }

  .rem-container {
    margin-left: 340px;
  }

  .info h4 {
    margin-left: 340px;
  }

  .footer {
    margin-left: 340px;
    display: flex;
    align-items: center;
  }

  .menu-button {
    display: none;
  }

  .header-search__more {
    display: none;
  }
  .header {
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    align-items: center;
  }
  .header-search {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .header-settings__more {
    margin-top: 50px;
    flex-direction: row-reverse;
  }

  .header-settings {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  h3 {
    display: contents;
  }
  main {
    margin-top: -56px;
  }
  .main__menu--slider2 {
    width: 777px;
    flex-wrap: wrap;
  }

  .main-info__text {
    font-size: 20px;
  }

  .main__menu--slider--item-label {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .main-info__readmore-text {
    font-size: 24px;
    margin-left: 15px;
  }
  .main-info__readmore {
    margin-top: 24px;
    display: flex;
    align-items: center;
  }
  .main-info__text1 {
    font-size: 20px;
    display: contents;
  }
  .main-info__img-info {
    width: 550px;
  }

  .main-rules {
    margin-top: 100px;
  }

  .header-logo {
    display: none;
  }
}

@media (max-width: 320px) {
  .rem1-info {
    display: none;
  }
  .rem-container {
    display: none;
  }
  .remote-hidden {
    display: none;
  }
  .repare-visible,
  .btn {
    display: none;
  }
  .repare-none__test {
    display: none;
  }
}
@media (min-width: 321px) {
  .second-swiper {
    display: none;
  }
  .first-swiper {
    display: none;
  }
}

@media (min-width: 530px) {
  .third-swiper {
    display: none;
  }
}
@media (max-width: 530px) {
  .rem-container {
    display: none;
  }

  .rem1-info {
    display: none;
  }
}

@media (max-width: 768px) {
  .link:nth-child(4),
  .link:nth-child(8) {
    display: none;
  }
  .repare-visible {
    width: 900px;
  }
}

.second-swiper .swiper-slide {
  height: 160px;
}

.second-swiper .swiper {
  height: 190px;
}

.second-swiper .links-img {
  height: 160px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-left: -10px;
  margin-top: -35px;
}

.second-swiper .swiper-slide__text {
  margin-top: 10px;
  margin-left: 10px;
}

.third-swiper .swiper-slide {
  height: 200px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.third-swiper .swiper {
  height: 230px;
  width: 300px;
}

.swiper-slide__rem--info {
  width: 170px;
}

.swiper-slide__time {
  display: flex;
  justify-content: space-around;
}

.swiper-slide__price,
.swiper-slide__rem {
  margin-left: 20px;
}

.info {
  margin-top: 20px;
  margin-left: 20px;
}

.info2 {
  margin-left: 20px;
  display: flex;
}

.info2-text1 {
  width: 200px;
}

.info2-text2 {
  margin-left: -120px;
  margin-top: 20px;
}

.footer-main {
  color: #7e7e82;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main:nth-child(2),
.footer-main:nth-child(3) {
  margin-top: 15px;
}

.repare-test,
.repare-none__test {
  overflow: hidden;
  overflow-x: scroll;
}

.repare-none__test {
  overflow: hidden;
  overflow-x: scroll;
  margin-top: -20px;
}

.repare-test::-webkit-scrollbar {
  width: 0;
}

.remote-container {
  overflow: hidden;
  overflow-x: scroll;
}

.repare-none__test::-webkit-scrollbar {
  width: 0;
}

.remote-container::-webkit-scrollbar {
  width: 0;
}

.remote-container {
  display: flex;
  gap: 10px;
}

.remote-hidden {
  overflow: hidden;
}

.remote-list {
  margin-left: 20px;
  height: 160px;
  width: 224px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.remote-list__text {
  margin: 10px 0 0 10px;
}

.remote-list__icon {
  width: 224px;
  height: 133px;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.remote-list__icon--next {
  margin: 0 10px 10px 0;
}

.rem1 {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.rem-container {
  margin-top: 20px;
  padding: 1px 10px 20px 10px;
  background-color: #fff;
}
.rem1-price {
  width: 130px;
  margin-right: 215px;
  display: flex;
  justify-content: space-between;
}

.rem1-price__price {
  margin-left: -15px;
}

.rem-container__usl {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.rem-container__usl--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.rem-container__usl--info--order {
  margin-right: 20px;
}

.rem-container__rect {
  height: 1px;
  background-color: #eaeaea;
  margin-top: 20px;
}

.rem-container__usl--main {
  display: flex;
  align-items: center;
}

.main-info__text1 {
  margin-top: 10px;
}

.suare {
  width: 100vw;
  height: 215vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 9;
}
